#project-popover, #task-popover, #file-popover, #user-popover
{
    /*text-align: center;*/
}

#test1, #test2, #test3, #test4
{
    margin-right: -15px;
    margin-top: 3px;
}

#test1
{
    color: #0099ff;
}

#test2
{
    color: #006600;
}

#test3
{
    color: #cc6600;
}

#test4
{
    color: #660066;
}

#dropdown-icon-project
{
    margin-right: 15px;
    margin-top: 3px;
    color: #0099ff;
}

#dropdown-icon-task
{
    margin-right: 15px;
    margin-top: 3px;
    color: #006600;
}

#dropdown-icon-document
{
    margin-right: 15px;
    margin-top: 3px;
    color: #cc6600;
}

#dropdown-icon-user
{
    margin-right: 15px;
    margin-top: 3px;
    color: #660066;
}

/*#dropdown-icons*/
/*{*/
    /*margin-right: 15px;*/
    /*margin-top: 3px;*/
/*}*/

/*#test2*/
/*{*/
    /*margin-right: -15px;*/
/*}*/
/*#test3*/
/*{*/
    /*margin-right: -15px;*/
/*}*/
/*#test4*/
/*{*/
    /*margin-right: -15px;*/
/*}*/

/*#test1*/
/*{*/
    /*margin-right: 20px;*/
/*}*/

/*#test2*/
/*{*/
    /*margin-right: 46px;*/
/*}*/

/*#test3*/
/*{*/
    /*margin-right: 50px;*/
/*}*/

/*#test4*/
/*{*/
    /*margin-right: 47px;*/
/*}*/

.test-img-vertical-align
{
    margin-top: 8px;
}

