#outer-panel
{
    position: relative;
    margin-top: 10px;
    /*width: 50px;*/

}

#inner-panel
{
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    width: 40px;
    height: 101px;
    margin-right: 5px;
    line-height: 70px;
}


#btn-grp-panel
{
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
}

#panel-content
{
    margin-left: 35px;
}

#panel-icon-fix
{
    margin-left: -10px;
}


/*.modal-new-project-tab-body*/
/*{*/
    /*height: 350px;*/

    /*overflow-y: hidden;*/
/*}*/

.test-modal-width .modal-dialog
{
    width: 800px;
}


#test-tabs-height
{
    /*height: 400px;*/
    /*overflow: hidden;*/
}