/* this is my custom CSS */



/*body
{
    font-family: 'Caveat', cursive;
    font-size: xx-large;
}*/

#register-view-container
{
    font-family: 'Caveat', cursive;
    font-size: xx-large; 
}

#pms
{
    position: absolute;
    top: -200px;
    right: 150px;
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
}

#pms-register
{
    position: absolute;
    top: -200px;
    right: -50px;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
}

#register
{
    position: absolute;
    bottom: -75px;
    right: -150px;
    font-size:  26px;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    -ms-transform: rotate(-3deg); /* IE 9 */
    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
    transform: rotate(-3deg);
}

#register:hover
{
    color: #ffb3ff;
}

#password
{
    position: absolute;
    width: 150px;
    /*outline: solid 1px red;*/

    bottom: -115px;
    right: 500px;
    font-size:  26px;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);

}

#password:hover
{
    color: #ffb3ff;
}

.register-form-container {

    width: 400px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

#register-panel-style
{
    position: relative;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    margin-top: -50px;
}

.register-form-container .control-label
{
    font-weight: normal;
    color: #333333;
}

.register-form-container input
{
    background-color: transparent;
    font-size: xx-large;
    color: #333333;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#register-button
{
    font-size: xx-large;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn
{
    color: transparent;
}

.form-control::-webkit-input-placeholder { color: #333333; }
.form-control:-moz-placeholder { color: #333333; }
.form-control::-moz-placeholder { color: #333333; }
.form-control:-ms-input-placeholder { color: #333333; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #333333 !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

#register-form .ng-valid
{
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#register-form .ng-invalid
{
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


@media only screen and (min-width: 768px) and (max-width: 991px)
{
    #password
    {
        right: 450px;
        bottom: -110px;
    }

    #register
    {
        bottom: -75px;
        right: -150px;
    }
}

@media only screen and (min-width: 365px) and (max-width: 768px)
{
    #password
    {
        left: 50px;
        bottom: -115px;
    }

    #register
    {
        bottom: -100px;
        right: 20px;
    }

}
