
<div>

    <div class="modal-header">
        <h4 class="modal-title text-center">{{ConfirmModalVM.modalTitle}}</h4>
    </div>

    <div class="modal-body">

        <div class="modal-confirm-delete">

            <br/>

            <p class="text-center">{{ConfirmModalVM.confirmationMessage}}</p>

        </div>
    </div>

    <div class="modal-footer">

        <button class="btn btn-danger" type="button" ng-click="ConfirmModalVM.confirm()">Yes</button>
        <button class="btn btn-default" type="button" ng-click="ConfirmModalVM.cancel()">Cancel</button>

    </div>

</div>
