
<div>

    <div class="modal-header">
        <h4 class="modal-title text-center">Document Info</h4>
    </div>

    <div class="modal-body">

        <div class="modal-new-document-form">

            <br/>

            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Name</label>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                        <p class="form-control-static">{{DocumentModalVM.documentName}}</p>
                    </div>
                </div>

                <hr class="info-divider"/>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Project</label>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                        <p class="form-control-static">{{DocumentModalVM.documentProject}}</p>
                    </div>
                </div>

                <hr class="info-divider"/>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Task</label>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                        <p class="form-control-static">{{DocumentModalVM.documentTask}}</p>
                    </div>
                </div>

                <hr class="info-divider"/>

                <div class="form-group">
                    <label class="col-lg-3 col-md-3 col-sm-3 control-label">Description</label>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                        <p class="form-control-static">{{DocumentModalVM.documentDescription}}</p>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="DocumentModalVM.cancel()">Cancel</button>
    </div>

</div>
