
<div>

    <div class="modal-header">
        <h4 class="modal-title text-center">{{TaskModalVM.modalHeading}}</h4>
    </div>

    <div class="modal-body">

        <uib-tabset justified="true">

            <uib-tab heading="Task">

                <div class="modal-new-task-form">

                    <br/>

                    <form name="addNewTaskValidationForm" class="form-horizontal" ng-submit="addNewTaskValidationForm.$valid && TaskModalVM.taskUpdateFlag && TaskModalVM.createOrUpdateTask(TaskModalVM.taskName, TaskModalVM.taskDescription)" novalidate>
                        <div class="form-group" ng-class="{ 'has-error': addNewTaskValidationForm.taskName.$touched && addNewTaskValidationForm.taskName.$invalid }">
                            <label for="taskName" class="col-lg-2 col-md-2 col-sm-2 control-label">Name</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1">
                                <!--<input type="text" class="form-control" id="taskName" placeholder="Name" ng-model="TaskModalVM.taskName" ng-required="TaskModalVM.required()">-->
                                <!--<input type="text" class="form-control" id="taskName" placeholder="Name" ng-model="TaskModalVM.taskName" ng-required="TaskModalVM.required">-->
                                <input type="text" class="form-control" id="taskName" name="taskName" placeholder="Task Name" ng-model="TaskModalVM.taskName" required="" ng-disabled="TaskModalVM.taskNameInputState"/>

                                <div class="help-block" ng-messages="addNewTaskValidationForm.taskName.$error" ng-show="addNewTaskValidationForm.taskName.$touched">
                                    <p ng-message="required">Name is required.</p>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">

                            <label for="taskDate" class="col-lg-2 col-md-2 col-sm-2 control-label">Target Date</label>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-lg-offset-1">
                                <p class="input-group">
                                    <input type="text" id="taskDate" class="form-control" uib-datepicker-popup="{{TaskModalVM.format}}" is-open="TaskModalVM.status.opened" ng-model="TaskModalVM.taskDate" close-text="Close" placeholder="Target Date"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="TaskModalVM.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="taskDescription" class="col-lg-2 col-md-2 col-sm-2 control-label">Task Description</label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-1">
                                <textarea class="form-control taskModalTextAreaForDescription" id="taskDescription" ng-model="TaskModalVM.taskDescription" placeholder="Task Description" ng-change="TaskModalVM.taskUpdateDetected()"></textarea>
                            </div>
                        </div>

                        <div class="form-group" ng-show="TaskModalVM.projectsListVisibility">
                            <label for="taskBelongsToProject" class="col-lg-2 col-md-2 col-sm-2 control-label">Project</label>
                            <div id="taskBelongsToProject" class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-1">
                                <multiselect ng-model="TaskModalVM.selectedProjects" options="TaskModalVM.taskProject" id-prop="id" display-prop="name"></multiselect>
                            </div>
                        </div>

                        <!--<div ng-show="TaskModalVM.projectsListVisibility">-->
                            <!--<multiselect ng-model="TaskModalVM.selectedProjects" options="TaskModalVM.projectsList" id-prop="id" display-prop="name"></multiselect>-->
                        <!--</div>-->

                        <!--<div class="form-group">-->
                            <!--<label for="taskBelongsToProject" class="col-lg-2 col-md-2 col-sm-2 control-label">Project</label>-->
                            <!--<div class="col-lg-8 col-md-8 col-sm-8 col-lg-offset-1">-->
                                <!--<select class="form-control" id="taskBelongsToProject" ng-options="project.name for project in TaskModalVM.projects" ng-model="TaskModalVM.selected"></select>-->
                            <!--</div>-->
                        <!--</div>-->

                        <input type="submit" id="submit-new-task-form" class="hidden" />

                    </form>

                </div>

            </uib-tab>

            <uib-tab heading="Documents">
                <div class="modal-new-document-tab-body">

                    <div class="btn-group test-position" uib-dropdown is-open="false">
                        <button id="add-new-document-dropDown-button-in-project-modal" uib-dropdown-toggle ng-disabled="disabled" type="button" class="btn btn-default btn-circle btn-lg">
                            <i class="fa fa-plus fa-lg addEntityIconColor"></i>
                        </button>

                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="add-new-document-dropDown-button-in-project-modal">
                            <li role="menuitem"><a href="#">Import Existing Documents</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">Create New Documents</a></li>
                        </ul>
                    </div>

                    <div slim-scroll height="300px">

                        <div class="panel panel-default" id="outer-panel-documents-in-new-project-modal" ng-repeat="documentPanel in ModalVM.documentPanels">
                            <div class="panel-body">

                                <div class="panel panel-default" id="inner-panel-documents-in-new-project-modal">
                                    <div class="panel-body">
                                        <i class="fa fa-suitcase fa-2x" id="document-panel-icon-fix-in-new-project-modal"></i>
                                    </div>
                                </div>

                                <div id="document-panel-content-in-new-project-modal">
                                    <p>
                                    <h4>{{documentPanel.name}}</h4>
                                    </p>

                                    <p>
                                        {{documentPanel.status}}
                                    </p>
                                </div>

                                <div class="btn-group-vertical" id="documents-btn-grp-panel-in-new-project-modal">
                                    <button class="btn btn-default test-button-border"><i class="fa fa-info"></i></button>
                                    <button class="btn btn-default" ng-click="ModalVM.editDocuments(documentPanel.name)"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-default test-button-border" ng-click="ModalVM.deleteDocument(documentPanel.name)"><i class="fa fa-trash-o"></i></button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </uib-tab>

            <uib-tab heading="Users">
                <div class="modal-new-user-tab-body">

                    <button type="button" class="btn btn-default btn-circle-user-tab-project-modal btn-lg" uib-tooltip="Add User" tooltip-placement="right" ng-click="ModalVM.addNewTask()"><i class="fa fa-plus fa-lg addEntityIconColor"></i></button>

                    <div slim-scroll height="300px">

                        <div class="panel panel-default" id="outer-panel-users-in-new-project-modal" ng-repeat="userPanel in ModalVM.userPanels">
                            <div class="panel-body">

                                <div class="panel panel-default" id="inner-panel-users-in-new-project-modal">
                                    <div class="panel-body">
                                        <i class="fa fa-suitcase fa-2x" id="user-panel-icon-fix-in-new-project-modal"></i>
                                    </div>
                                </div>

                                <div id="user-panel-content-in-new-project-modal">
                                    <p>
                                    <h4>{{userPanel.name}}</h4>
                                    </p>

                                    <p>
                                        {{userPanel.status}}
                                    </p>
                                </div>

                                <div class="btn-group-vertical" id="users-btn-grp-panel-in-new-project-modal">
                                    <button class="btn btn-default test-button-border"><i class="fa fa-info"></i></button>
                                    <button class="btn btn-default" ng-click="ModalVM.editUsers(userPanel.name)"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-default test-button-border" ng-click="ModalVM.deleteUser(userPanel.name)"><i class="fa fa-trash-o"></i></button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </uib-tab>

        </uib-tabset>

    </div>

    <div class="modal-footer">
        <label for="submit-new-task-form" class="btn btn-primary" ng-disabled="addNewTaskValidationForm.$invalid">{{TaskModalVM.modalType}}</label>
        <!--<button type="submit" class="btn btn-primary" ng-click="TaskModalVM.ok(TaskModalVM.taskName)">{{TaskModalVM.modalType}}</button>-->
        <button type="button" class="btn btn-warning" ng-click="TaskModalVM.cancelModal()">Cancel</button>
    </div>

</div>
