
<div>

    <div class="modal-header">
        <h4 class="modal-title text-center">{{ModalVM.modalHeading}}</h4>
    </div>

    <div class="modal-body">

        <uib-tabset justified="true">

            <uib-tab>

                <tab-heading>
                    Projects
                </tab-heading>

                <div class="modal-new-project-tab-body">

                    <br/>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="userName" class="col-lg-2 col-md-2 col-sm-2 control-label">Name</label>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <input type="text" class="form-control" id="userName" placeholder="Name" ng-model="ModalVM.projectname">
                            </div>
                            <div class="form-group">
                                <label for="userDepartment" class="col-lg-2 col-md-2 col-sm-2 control-label">Department</label>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <select class="form-control " id="userDepartment">
                                        <option>IT</option>
                                        <option>HR</option>
                                        <option>Sales</option>
                                        <option>Finance</option>
                                        <option>Security</option>
                                        <option>Marketing</option>
                                        <option>Administration</option>
                                        <option>Customer Service</option>
                                        <option>Quality Assurance</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <label for="projectDate" class="col-lg-2 col-md-2 col-sm-2 control-label">Date</label>

                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <p class="input-group">
                                    <input type="text" id="projectDate" class="form-control" uib-datepicker-popup="{{ModalVM.format}}" is-open="ModalVM.status.opened" ng-model="ModalVM.projectDate" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="ModalVM.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="userDesignation" class="col-lg-2 col-md-2 col-sm-2 control-label">Designation</label>
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <input type="text" class="form-control " id="userDesignation" placeholder="Designation">
                                </div>
                            </div>

                        </div>

                        <div class="form-group">

                            <label for="userRole" class="col-lg-2 col-md-2 col-sm-2 control-label">Role</label>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <select class="form-control " id="userRole">
                                    <option ng-repeat="option in ModalVM.roleOptions">{{option.role}}</option>
                                </select>
                            </div>

                        </div>


                    </form>

                </div>

            </uib-tab>

            <uib-tab heading="Tasks">
                <div class="modal-new-project-tab-body">

                    <button class="btn btn-default" ng-click="ModalVM.openModalFromThisModal(ModalVM.projectname)">Open Modal</button>

                </div>


            </uib-tab>

            <uib-tab heading="Documents">
                <div class="modal-new-project-tab-body">Documents</div>
            </uib-tab>

            <uib-tab heading="Users">
                <div class="modal-new-project-tab-body">Users</div>
            </uib-tab>

        </uib-tabset>

        <!--<button class="btn btn-primary" ng-click="checkUpdatedValue()">Check Value</button>-->

    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="ModalVM.ok(ModalVM.projectname)">{{ModalVM.modalType}}</button>
        <button type="button" class="btn btn-warning" ng-click="ModalVM.cancel()">Cancel</button>
    </div>

</div>