
<!--<div class="triangle"></div>-->

    <!--<div class="popbox">-->
        <!--<div class='box'>-->

            <!--<div class='arrow'></div>-->
            <!--<div class='arrow-border'></div>-->

            <!--<div id="test-content-size">-->

                <!--<img class="img-thumbnail pull-left" id="user-pic-inside-popover" src="images/Original_Size/user.png" alt=""/>-->

                <!--<p id="user-name">Online User</p>-->
                <!--<p id="user-designation">Quality Assurance</p>-->

                <!--<button class="btn btn-default btn-xs pull-left" id="user-profile" >Profile</button>-->
                <!--<button class="btn btn-default btn-xs pull-right" id="user-account" >Account</button>-->

                <!--<button class="btn btn-default" id="testing-signout-button">Sign Out</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


<!--<script type="text/ng-template" id="popover">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-2 col-sm-6 col-md-4">-->
            <!--<div class="thumbnail">-->
                <!--<img ng-src="images/Original_Size/user.png" alt="">-->
                <!--<div class="caption">-->
                    <!--<h3 class="text-center">User Name</h3>-->
                    <!--<p class="text-center">User Designation</p>-->
                    <!--<p><a href="#" class="btn btn-primary pull-left" role="button">Profile</a> <a href="#" class="btn btn-default pull-right" role="button">Settings</a></p>-->
                    <!--<button class="btn btn-default btn-block">Log Out</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</script>-->

<div class="triangle"></div>

<div id="popover">
    <div class="thumbnail">
        <img ng-src="images/Original_Size/user.png" id="user-profile-pic" alt="">
        <hr id="user-info-divider">
        <div class="caption" id="popup-bottom-half">
            <h3 class="text-center" id="user-name">User Name</h3>
            <p class="text-center" id="user-designation">User Designation</p>
            <p><a href="#" class="btn btn-default pull-left" id="user-profile" role="button">Profile</a> <a href="#" class="btn btn-default pull-right" id="global-settings" role="button">Settings</a></p>
            <button class="btn btn-danger btn-block" id="user-logout-button">Log Out</button>
        </div>
    </div>
</div>
