
<div>

    <div class="modal-header">
        <h4 class="modal-title text-center text-success">User Profile</h4>
    </div>

    <div class="modal-body">

        <div class="modal-user-profile">

                <br/>

            <div class="row" id="user-profile-pic-row">

                <div class="col-lg-5">
                    <img ng-src="{{UserProfileModalVM.userImageUrl}}" class="img-responsive img-rounded"  id="user-profile-pic-in-profile" alt="Responsive image">
                </div>

                <div class="col-lg-5" id="user-name-and-designation">

                    <div ng-mouseenter="nameHovered=true" ng-mouseleave="nameHovered=false">
                        <h3>{{UserProfileModalVM.userName}}<button class="btn btn-info pull-right user-profile-edit-buttons" ng-show="nameHovered" uib-tooltip="Update Name" tooltip-placement="right" ng-click="UserProfileModalVM.updateUserProfileModal('Name')"><i class="fa fa-pencil"></i></button></h3>
                    </div>

                    <div ng-mouseenter="designationHovered=true" ng-mouseleave="designationHovered=false">
                        <p>{{UserProfileModalVM.userDesignation}}<button class="btn btn-info pull-right user-profile-edit-buttons" ng-show="designationHovered" uib-tooltip="Update Designation" tooltip-placement="right" ng-click="UserProfileModalVM.updateUserProfileModal('Designation')"><i class="fa fa-pencil"></i></button></p>
                    </div>

                </div>

                <div class="col-lg-2">
                    <button class="btn btn-default" uib-tooltip="Change Password" tooltip-placement="right" ng-click="UserProfileModalVM.updateUserProfileModal('Password')"><i class="fa fa-key"></i></button>
                </div>

            </div>

            <hr/>

            <form class="form-horizontal" id="user-profile-form">

                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label text-muted">Email</label>
                    <div class="col-lg-7 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" ng-mouseenter="emailHovered=true" ng-mouseleave="emailHovered=false">
                        <p class="form-control-static">{{UserProfileModalVM.userEmail}}<button class="btn btn-info pull-right user-profile-edit-buttons" ng-show="emailHovered" uib-tooltip="Update Email" tooltip-placement="right" ng-click="UserProfileModalVM.updateUserProfileModal('Email')"><i class="fa fa-pencil"></i></button></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label text-muted">Gender</label>
                    <div class="col-lg-7 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" ng-mouseenter="genderHovered=true" ng-mouseleave="genderHovered=false">
                        <p class="form-control-static">{{UserProfileModalVM.userGender}}<button class="btn btn-info pull-right user-profile-edit-buttons" ng-show="genderHovered" uib-tooltip="Update Gender" tooltip-placement="right" ng-click="UserProfileModalVM.updateUserProfileModal('Gender')"><i class="fa fa-pencil"></i></button></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label text-muted">Date Of Birth</label>
                    <div class="col-lg-7 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" ng-mouseenter="dobHovered=true" ng-mouseleave="dobHovered=false">
                        <p class="form-control-static">{{UserProfileModalVM.userDateOfBirth}}<button class="btn btn-info pull-right user-profile-edit-buttons" ng-show="dobHovered" uib-tooltip="Update Date Of Birth" tooltip-placement="right" ng-click="UserProfileModalVM.updateUserProfileModal('Date Of Birth')"><i class="fa fa-pencil"></i></button></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label text-muted text">Contact Number</label>
                    <div class="col-lg-7 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" ng-mouseenter="contactHovered=true" ng-mouseleave="contactHovered=false">
                        <p class="form-control-static">{{UserProfileModalVM.userContactNumber}}<button class="btn btn-info pull-right user-profile-edit-buttons" ng-show="contactHovered" uib-tooltip="Update Number" tooltip-placement="right" ng-click="UserProfileModalVM.updateUserProfileModal('Number')"><i class="fa fa-pencil"></i></button></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 col-md-4 col-sm-4 control-label text-muted">Address</label>
                    <div class="col-lg-7 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1" ng-mouseenter="addressHovered=true" ng-mouseleave="addressHovered=false">
                        <p class="form-control-static">{{UserProfileModalVM.userAddress}}<button class="btn btn-info pull-right user-profile-edit-buttons" ng-show="addressHovered" uib-tooltip="Update Address" tooltip-placement="right" ng-click="UserProfileModalVM.updateUserProfileModal('Address')"><i class="fa fa-pencil"></i></button></p>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="UserProfileModalVM.cancel(UserProfileModalVM.userEmail)">OK</button>
    </div>

</div>
