
<div>

    <div class="modal-header">
        <h4 class="modal-title text-center text-success">User Info</h4>
    </div>

    <div class="modal-body">

        <uib-tabset justified="true">

            <uib-tab heading="User">

                <div class="modal-new-user-form">

                    <br/>

                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Name</label>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <p class="form-control-static">{{UserModalVM.userName}}</p>
                            </div>
                        </div>

                        <hr class="info-divider"/>

                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Email</label>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <p class="form-control-static">{{UserModalVM.userEmail}}</p>
                            </div>
                        </div>

                        <hr class="info-divider"/>

                        <div class="form-group">
                            <label class="col-lg-4 col-md-4 col-sm-4 control-label">Designation</label>
                            <div class="col-lg-6 col-md-6 col-sm-8 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <p class="form-control-static">{{UserModalVM.userDesignation}}</p>
                            </div>
                        </div>

                    </form>
                </div>
            </uib-tab>

            <uib-tab heading="Projects">
                <div class="modal-new-project-tab-body">
                    <div slim-scroll height="310px">
                        <div class="panel panel-default" ng-repeat="projectPanel in UserModalVM.projectPanels">
                            <div class="panel-body text-center">
                                <a href="" ng-click="UserModalVM.infoProjectModal(projectPanel)">{{projectPanel.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab heading="Tasks">
                <div class="modal-new-task-tab-body">
                    <div slim-scroll height="310px">
                        <div class="panel panel-default" ng-repeat="taskPanel in UserModalVM.taskPanels">
                            <div class="panel-body text-center">
                                <a href="" ng-click="UserModalVM.infoTaskModal(taskPanel)">{{taskPanel.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>

            <uib-tab heading="Documents">
                <div class="modal-new-document-tab-body">
                    <div slim-scroll height="310px">
                        <div class="panel panel-default" ng-repeat="documentPanel in UserModalVM.documentPanels">
                            <div class="panel-body text-center">
                                <a href="" ng-click="UserModalVM.infoDocumentModal(documentPanel)">{{documentPanel.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>

        </uib-tabset>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="UserModalVM.cancel()">Cancel</button>
    </div>

</div>
