<div>

    <div class="modal-header">
        <h4 class="modal-title text-center">{{UserModalVM.modalHeading}}</h4>
    </div>

    <div class="modal-body">
        <div class="modal-new-user-form">

            <br/>

            <form name="addNewUserValidationForm" class="form-horizontal" ng-submit="addNewUserValidationForm.$valid && UserModalVM.createOrUpdateUser(UserModalVM)" novalidate>
                <div class="form-group" ng-class="{ 'has-error': addNewUserValidationForm.userName.$touched && addNewUserValidationForm.userName.$invalid }">
                    <label for="userName" class="col-lg-3 col-md-3 col-sm-3 control-label">Name</label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="User Name" ng-model="UserModalVM.userName" ng-disabled="UserModalVM.userNameEditable" required=""/>
                        <div class="help-block" ng-messages="addNewUserValidationForm.userName.$error" ng-show="addNewUserValidationForm.userName.$touched">
                            <p ng-message="required">Name is required.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error': addNewUserValidationForm.userEmail.$touched && addNewUserValidationForm.userEmail.$invalid }">
                    <label for="userEmail" class="col-lg-3 col-md-3 col-sm-3 control-label">Email</label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="User Email" ng-model="UserModalVM.userEmail" ng-disabled="UserModalVM.userEmailEditable" required=""/>
                        <div class="help-block" ng-messages="addNewUserValidationForm.userEmail.$error" ng-show="addNewUserValidationForm.userEmail.$touched">
                            <p ng-message="required">Email is required.</p>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="userDesignation" class="col-lg-3 col-md-3 col-sm-3 control-label">Designation</label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <input type="text" class="form-control" id="userDesignation" name="userDesignation" placeholder="User Designation" ng-model="UserModalVM.userDesignation" />
                    </div>
                </div>

                <div class="form-group" ng-show="UserModalVM.roleVisibility">
                    <label for="userRole" class="col-lg-3 col-md-3 col-sm-3 control-label">Role</label>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <select id="userRole" class="form-control" name="userRole" ng-model="UserModalVM.selectedRole">
                            <option ng-repeat="userRole in UserModalVM.roles">{{userRole.role}}</option>
                        </select>
                    </div>
                </div>

                <input type="submit" id="submit-new-user-form" class="hidden" />

            </form>
        </div>
    </div>

    <div class="modal-footer">
        <label for="submit-new-user-form" class="btn btn-success" ng-disabled="addNewUserValidationForm.$invalid">{{UserModalVM.modalType}}</label>
        <button type="button" class="btn btn-default" ng-click="UserModalVM.cancelModal()">Cancel</button>
    </div>

</div>
