<!doctype html>
<html ng-app="pmsAngular">

<head>

    <link href='https://fonts.googleapis.com/css?family=Caveat:400,700' rel='stylesheet' type='text/css'>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMS</title>

    <link href="css/Third-Party-CSS/bootstrap.min.css" rel="stylesheet">
    <link href="css/register_container.css" rel="stylesheet">

</head>

<body>

    <div id="bg">
        <img src="images/login_background.jpg" alt="">
    </div>

    <div class="register-form-container" ng-cloak>

        <p id="pms">P M S</p>
        <p id="pms-register">( register )</p>

        <div class="panel panel-default" id="register-panel-style">

            <div class="panel-body register-panel-body-style">

                <form id="register-form" name="registerForm" ng-submit="registerForm.$valid" novalidate>

                    <div class="form-group" ng-class="{ 'has-error': registerForm.userCompany.$touched && registerForm.userCompany.$invalid }">
                        <div>
                            <input type="text" class="form-control input-lg" id="userCompany" name="userCompany" ng-model="userCompany" placeholder="Write Company Name" required="">
                            <div class="help-block" ng-messages="registerForm.userCompany.$error" style="text-align: right" ng-show="registerForm.userCompany.$touched">
                                <p ng-message="required">Required.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': registerForm.userName.$touched && registerForm.userName.$invalid }">
                        <div>
                            <input type="text" class="form-control input-lg" id="userName" name="userName" ng-model="userName" placeholder="Write Your Name" required="">
                            <div class="help-block" ng-messages="registerForm.userName.$error" style="text-align: right" ng-show="registerForm.userName.$touched">
                                <p ng-message="required">Name is required.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': registerForm.userEmail.$touched && registerForm.userEmail.$invalid }">
                        <div>
                            <input type="email" class="form-control input-lg" id="userEmail" name="userEmail" ng-model="userEmail" placeholder="Write Your Email" required="">
                            <div class="help-block" ng-messages="registerForm.userEmail.$error" style="text-align: right" ng-show="registerForm.userEmail.$touched">
                                <p ng-message="required">Email is required.</p>
                                <p ng-message="email" class="messages-class">Invalid Email</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error': registerForm.userPassword.$touched && registerForm.userPassword.$invalid }">
                        <div>
                            <input type="password" class="form-control input-lg" id="userPassword" name="userPassword" ng-model="userPassword" placeholder="Write Your Password" required="" minlength="8">
                            <div class="help-block" ng-messages="registerForm.userPassword.$error" style="text-align: right" ng-show="registerForm.userPassword.$touched">
                                <p ng-message="required">Password is required.</p>
                                <p ng-message="minlength" class="messages-class">At Least 8 Characters</p>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default btn-lg pull-right" id="register-button" ng-disabled="registerForm.$invalid">Register</button>

                </form>

            </div>

        </div>

        <button id="register" >Log In</button>

    </div>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="js/Third-Party-JS/bootstrap.min.js"></script>
<script type="text/javascript" src="js/Third-Party-JS/angular.js"></script>
<script type="text/javascript" src="js/Third-Party-JS/angular-animate.min.js"></script>
<script type="text/javascript" src="js/Third-Party-JS/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script type="text/javascript" src="bower_components/nsPopover/src/nsPopover.js"></script>
<script src="js/Third-Party-JS/angular-messages.min.js"></script>

<script src="app.js"></script>

</body>

</html>