
<div class="col-lg-8 col-md-8 col-sm-8 testTabsArea" ng-controller="TabsController as TabsVM">
    <uib-tabset justified="true">

        <uib-tab>

            <tab-heading>
                Projects
            </tab-heading>


        <div id="test-tabs-height" slim-scroll height="500px">

            <div class="panel panel-default" id="outer-panel" ng-repeat="panel in TabsVM.panels">
                <div class="panel-body">

                    <div class="panel panel-default" id="inner-panel">
                        <div class="panel-body">
                            <i class="fa fa-suitcase fa-2x" id="panel-icon-fix"></i>
                        </div>
                    </div>

                    <div id="panel-content">
                        <p>
                        <h4>{{panel.name}}</h4>
                        </p>

                        <p>
                            {{panel.status}}
                        </p>
                    </div>

                    <!--<div class="pull-right">-->
                        <div class="btn-group-vertical" id="btn-grp-panel" ng-controller="ModalDemoController as ModalVM">
                            <button class="btn btn-default test-button-border"><i class="fa fa-info"></i></button>
                            <button class="btn btn-default" ng-click="ModalVM.editProject(panel.name)"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-default test-button-border" ng-click="TabsVM.deleteProject(panel.name)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    <!--</div>-->

                </div>
            </div>

        </div>

        </uib-tab>

        <uib-tab heading="Tasks">Tasks</uib-tab>
        <uib-tab heading="Documents">Documents</uib-tab>
        <uib-tab heading="Users">Users</uib-tab>
    </uib-tabset>

</div>













