
<!------------------------------------------------------------------------ Chatting List -----------------------------------------------------------------------START-->
<aside class="col-lg-2 col-md-2 col-sm-2" id="chatting-list-fixed" ng-controller="ChattingPanelCtrl">
    <div class="panel panel-default" id="chatting-list-panel">
        <div class="panel-heading" id="chat-panel-heading">Chat</div>

        <ul class="list-group" id="chat-ul" slim-scroll height="500px">

            <li ng-repeat="user in users" class="list-group-item"><i class={{user.status}}></i>{{user.name}}</li>

            <!--<li class="list-group-item">User 1</li>-->
            <!--<li class="list-group-item"><i class="fa fa-circle-o"></i>User 2</li>-->
            <!--<li class="list-group-item"><i class="fa fa-circle-o"></i>User 3</li>-->
            <!--<li class="list-group-item">User 4</li>-->
            <!--<li class="list-group-item"><i class="fa fa-circle-o"></i>User 5</li>-->
            <!--<li class="list-group-item">User 6</li>-->
            <!--<li class="list-group-item"><i class="fa fa-circle-o"></i>User 7</li>-->
            <!--<li class="list-group-item">User 8</li>-->
            <!--<li class="list-group-item"><i class="fa fa-circle-o"></i>User 9</li>-->
            <!--<li class="list-group-item"><i class="fa fa-circle-o"></i>User 10</li>-->
            <!--<li class="list-group-item">User 11</li>-->
            <!--<li class="list-group-item">User 12</li>-->
            <!--<li class="list-group-item">User 13</li>-->
            <!--<li class="list-group-item"><i class="fa fa-circle-o"></i>User 14</li>-->
            <!--<li class="list-group-item">User 15</li>-->

        </ul>

    </div>
</aside>
<!------------------------------------------------------------------------ Chatting List -----------------------------------------------------------------------END-->
