
<!------------------------------------------------------------------------ Chatting List -----------------------------------------------------------------------START-->
<aside class="col-lg-2 col-md-2 col-sm-2" id="chatting-list-fixed" ng-controller="ChattingPanelController as CPVM">
    <div class="panel panel-default" id="chatting-list-panel">
        <div class="panel-heading" id="chat-panel-heading">Chat</div>

        <ul class="list-group" id="chat-ul" slim-scroll height="500px">

            <li ng-repeat="user in CPVM.users" class="list-group-item"><i id="onlineUserIcon" class={{user.status}}></i>{{user.name}}</li>

        </ul>

    </div>
</aside>
<!------------------------------------------------------------------------ Chatting List -----------------------------------------------------------------------END-->
