
<div class="col-lg-8 col-md-8 col-sm-8 testTabsArea" ng-controller="TabsController as TabsVM">
    <uib-tabset justified="true">

        <uib-tab heading="Projects" active="TabsVM.active.Projects">

        <div id="test-tabs-height" slim-scroll height="500px" >

            <!--<div class="panel panel-default" id="outer-panel" ng-repeat="panel in TabsVM.panels">-->
        <div ng-controller="NavigationBarController as NavBarVM">
            <div class="panel panel-default" id="outer-panel" ng-repeat="panel in TabsVM.panels | filter:NavBarVM.searchInputFieldText">
                <div class="panel-body">

                    <div class="panel panel-default" id="inner-panel">
                        <div class="panel-body">
                            <i class="fa fa-suitcase fa-2x" id="panel-icon-fix"></i>
                        </div>
                    </div>

                    <div id="panel-content">
                        <p>
                        <h4>{{panel.name}}</h4>
                        </p>

                        <p>
                            {{panel.status}}
                        </p>
                    </div>

                    <!--<div class="pull-right">-->
                        <div class="btn-group-vertical" id="btn-grp-panel" ng-controller="ModalDemoController as ModalVM">
                            <button class="btn btn-default test-button-border"><i class="fa fa-info"></i></button>
                            <button class="btn btn-default" ng-click="ModalVM.editProject(panel.name)"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-default test-button-border" ng-click="TabsVM.deleteProject(panel.name)"><i class="fa fa-trash-o"></i></button>
                        </div>
                    <!--</div>-->

                </div>
            </div>
        </div>
        </div>

        </uib-tab>

        <uib-tab heading="Tasks" active="TabsVM.active.Tasks">

            <div slim-scroll height="500px">

                <div class="panel panel-default" id="outer-panel-tasks-in-new-project-modal" ng-repeat="taskPanel in TabsVM.taskPanels">
                    <div class="panel-body">

                        <div class="panel panel-default" id="inner-panel-tasks-in-new-project-modal">
                            <div class="panel-body">
                                <i class="fa fa-suitcase fa-2x" id="task-panel-icon-fix-in-new-project-modal"></i>
                            </div>
                        </div>

                        <div id="task-panel-content-in-new-project-modal">
                            <p>
                            <h4>{{taskPanel.name}}</h4>
                            </p>

                            <p>
                                {{taskPanel.status}}
                            </p>
                        </div>

                        <!--<div class="pull-right">-->
                        <div class="btn-group-vertical" id="tasks-btn-grp-panel-in-new-project-modal" ng-controller="ModalDemoController as ModalVM">
                            <button class="btn btn-default test-button-border"><i class="fa fa-info"></i></button>
                            <button class="btn btn-default" ng-click="ModalVM.editTask(taskPanel.name)"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-default test-button-border" ng-click="TabsVM.deleteTask(taskPanel.id)"><i class="fa fa-trash-o"></i></button>
                        </div>
                        <!--</div>-->

                    </div>
                </div>

            </div>

        </uib-tab>

        <uib-tab heading="Documents" active="TabsVM.active.Documents">Documents</uib-tab>
        <uib-tab heading="Users" active="TabsVM.active.Users">Users</uib-tab>
    </uib-tabset>

</div>
