<!---------------------------------------------------------------------- Navigation Bar Bottom ---------------------------------------------------------------------------START-->

<footer class="navbar navbar-default navbar-fixed-bottom hidden-xs" id="navbar-bottom">
    <p id="nav-bottom-elem-left">Advanced JavaScript Project (PMS)</p>
</footer>

<!---------------------------------------------------------------------- Navigation Bar Bottom -----------------------------------------------------------------------------END-->
