<!-------------------------------------------------------------------- Navigation Bar Fixed Top -----------------------------------------------------------------------START-->

<nav class="navbar navbar-default navbar-fixed-top" id="navbar-bottom-margin" role="navigation" ng-controller="NavigationBarController as NavBarVM">

    <header class="navbar-header">
        <a class="navbar-brand" href="#" id="application-logo">PMS</a>
    </header>

    <div class="collapse navbar-collapse col-lg-offset-2" id="bs-example-navbar-collapse-1">

        <div class="navbar-form navbar-left">
            <div class="form-group" id="main-div">
                <div class="input-group" id="inline-div-1">
                    <div class="input-group-btn" id="inline-div-2" uib-dropdown is-open="NavBarVM.searchDropdownStatus.isopen">
                        <button type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled" id="search-categories">
                            {{NavBarVM.selectedItem}} <span class="caret"></span>
                        </button>

                        <ul class="uib-dropdown-menu" id="test-drop-down" role="menu" aria-labelledby="search-categories">
                            <li ng-repeat="dropdownItem in NavBarVM.dropdownItems" role="menuitem"><a ng-click="NavBarVM.dropboxitemselected(dropdownItem)">{{dropdownItem}}</a></li>
                        </ul>
                    </div>

                    <input type="search" class="form-control" id="search-width" placeholder="Search" ng-model="NavBarVM.searchInputFieldText"/>

                    <div class="input-group-btn" id="inline-div-3">
                        <button class="btn btn-default" id="search-button" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="navbar-btn navbar-right" id="signed-in-user">-->
            <!--<span id="signed-in-user-id">online.user@gmail.com</span>-->

            <!--<div class="popbox">-->

                <!--<img class="open img-rounded" id="signed-in-user-pic" src="../images/Original_Size/user.png" alt=""/>-->

                <!--<div style="position:relative;">-->
                    <!--<div class='box'>-->
                        <!--<div class='arrow'></div>-->
                        <!--<div class='arrow-border'></div>-->

                        <!--<div id="test-content-size">-->

                            <!--<img class="img-thumbnail pull-left" id="user-pic-inside-popover" src="../images/Original_Size/user.png" alt=""/>-->

                            <!--&lt;!&ndash;<p id="user-name">Faizan Shakeel</p>&ndash;&gt;-->
                            <!--<p id="user-name">Online User</p>-->
                            <!--<p id="user-designation">Quality Assurance</p>-->

                            <!--&lt;!&ndash;<a class="btn btn-default btn-block pull-left" id="user-profile" role="button">Profile</a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a class="btn btn-default btn-block pull-right" id="user-account" role="button">Account</a>&ndash;&gt;-->

                            <!--<button class="btn btn-default btn-xs pull-left" id="user-profile" >Profile</button>-->
                            <!--<button class="btn btn-default btn-xs pull-right" id="user-account" >Account</button>-->


                            <!--<form action="/" class="form-signout" method="get" >-->
                                <!--<button class="btn btn-success" id="testing-signout-button"  type="submit">Sign Out</button>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div>
            <p class="navbar-text" id="notifications" uib-tooltip="Notifications" tooltip-placement="bottom"><i class="fa fa-comments-o"></i><strong> 7</strong></p>
            <p class="navbar-text" id="users-online" uib-tooltip="Online Users" tooltip-placement="bottom"><i class="fa fa-user-md"></i><strong> 3</strong></p>
        </div>

    </div>
</nav>

<!-------------------------------------------------------------------- Navigation Bar Fixed Top -----------------------------------------------------------------------END-->