    <div id="bg">
        <img src="images/login_background.jpg" alt="">
    </div>

    <div class="recover-form-container">

        <p id="pms">P M S</p>
        <p id="pms-recover">( recover )</p>

        <div class="panel panel-default" id="recover-panel-style">

            <div class="panel-body recover-panel-body-style">

                <form id="recover-form" name="recoverForm" ng-submit="recoverForm.$valid" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': recoverForm.userEmail.$touched && recoverForm.userEmail.$invalid }">
                        <div>
                            <input type="email" class="form-control input-lg" id="userEmail" name="userEmail" ng-model="user.email" placeholder="Write Your Email" required="">
                            <div class="help-block" ng-messages="recoverForm.userEmail.$error" style="text-align: right" ng-show="recoverForm.userEmail.$touched">
                                <p ng-message="required">Email is required.</p>
                                <p ng-message="email" class="messages-class">Invalid Email</p>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default btn-lg pull-right" id="recover-button" ng-disabled="recoverForm.$invalid" ng-click="asLoginCtrl.passwordRecovery(user)">Submit</button>

                </form>

            </div>

        </div>

        <a href="#/login" id="register"> Log In</a>
        <a href="#/register" id="password"> Register</a>



    </div>
