        <div class="top-content" ng-controller="registrationCtrl as asRegCtrl">	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
<!--                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>PMS</strong> Login Form</h1>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Register</h3>
                            		<p>Enter the required data</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Email</label>
			                        	<input type="text" name="form-username" placeholder="Email..." class="form-username form-control" id="form-username" ng-model="user.email">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="form-password" placeholder="Password..." class="form-password form-control" id="form-password" ng-model="user.password">
			                        </div>
                                                <div class="form-group">
			                        	<label class="sr-only" for="form-name">Name</label>
			                        	<input type="text" name="form-name" placeholder="Full Name..." class="form-name form-control" id="form-name" ng-model="user.name">
			                        </div>
                                                <div class="form-group">
			                        	<label class="sr-only" for="form-companyname">Company Name</label>
			                        	<input type="text" name="form-companyname" placeholder="Company Name..." class="form-companyname form-control" id="form-companyname" ng-model="user.companyName">
			                        </div>
			                        <button type="submit" class="btn" ng-click="asRegCtrl.register(user)">Register</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>