<!-------------------------------------------------------Row-Containing-Buttons-For-Menu-&-Chatting-Panel--------------------------------------------------------------START-->

<div class="row hidden-xs" id="test-second-custom-bar">

    <div class="col-lg-2 col-md-2 col-sm-2" id="123">
        <button class="btn btn-default" id="menu-opener">Menu <span class="glyphicon glyphicon-book" id="icon-main-options-color"></span></button>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-5 common-class">
        <div class="btn-group" id="create-record">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Create <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" id="create-project-dropdown-menu">Project</a></li>
                <li class="divider"></li>
                <li><a href="#" id="create-task-dropdown-menu">Task</a></li>
                <li class="divider"></li>
                <li><a href="#" id="create-file-dropdown-menu">File</a></li>
                <li class="divider"></li>
                <li><a href="#" id="create-user-dropdown-menu">User</a></li>
            </ul>

        </div>
        <button class="btn btn-default common-class" id="edit-record">Edit <span class="glyphicon glyphicon-edit" id="icon-edit-record-color"></span></button>
        <button class="btn btn-default common-class" id="delete-record">Delete <span class="glyphicon glyphicon-remove" id="icon-delete-record-color"></span></button>
    </div>

    <div id="one-click-panels-expand">
        <button class="btn btn-default" id="expand-tooltip" data-toggle="tooltip" data-original-title="Expand"><i class="fa fa-angle-double-left" id="expand-left"></i><i class="fa fa-angle-double-right" id="expand-right"></i></button>
        <button class="btn btn-default" id="contract-tooltip" data-toggle="tooltip" data-original-title="Contract" style="display: none"><i class="fa fa-angle-double-right" id="contract-left"></i><i class="fa fa-angle-double-left" id="contract-right"></i></button>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 pull-right">
        <button class="btn btn-default" id="chatting-list-opener">Work Together <span class="glyphicon glyphicon-comment" id="icon-chat-list-color"></span></button>
    </div>

</div>


<!-------------------------------------------------------Row-Containing-Buttons-For-Menu-&-Chatting-Panel----------------------------------------------------------------END-->